opentelemetry-instrumentation-django==0.58b0
pyobjc-framework-ExceptionHandling==9.2
sip==6.6.2
readabilipy==0.3.0
shellingham==1.5.4
scp==0.14.5
mkdocs==1.6.1
mergedeep==1.3.4
cint==1.0.0
json_repair==0.25.2
arrow==1.3.0
chromedriver-autoinstaller==0.6.4
aiortc==1.13.0
semantic-version==2.10.0
pytest==8.3.5
soundfile==0.12.1
strictyaml==1.7.3
multidict==6.0.4
decorator==4.4.2
async-lru==2.0.4
praw==7.8.1
langchain-chroma==0.1.4
prance==25.4.8.0
h5py==3.9.0
langchain-experimental==0.0.65
autogen==0.9.9
spacy-transformers==1.3.5
bioc==2.1
pyobjc-framework-AdSupport==9.2
CacheControl==0.14.3
cfgrib==0.9.15.0
gitdb==4.0.10
unstructured==0.8.1
lightgbm==4.6.0
pyobjc-framework-CoreLocation==9.2
coloredlogs==15.0.1
redis==5.2.1
cryptography==44.0.3
opentelemetry-api==1.33.1
uri-template==1.3.0
pyobjc-framework-Accessibility==9.2
humanfriendly==10.0
pyobjc-framework-CoreServices==9.2
w3lib==2.3.1
spacy==3.8.2
moviepy==1.0.3
rfc3339-validator==0.1.4
pygame==2.1.0
openai-whisper==20231117
pydantic_core==2.33.2
appnope==0.1.3
pathlib_abc==0.1.1
xyzservices==2025.1.0
pexpect==4.9.0
update-checker==0.18.0
pyobjc-framework-PHASE==9.2
multitasking==0.0.11
datapi==0.4.0
surya-ocr==0.4.15
altgraph==0.17.3
pyyaml_env_tag==0.1
tree-sitter-languages==1.10.2
netifaces==0.11.0
faiss-cpu==1.7.4
pyobjc-framework-MediaToolbox==9.2
lazy_loader==0.4
bcrypt==4.0.1
findpython==0.6.3
pyobjc-framework-ColorSync==9.2
rich-toolkit==0.14.1
opentelemetry-proto==1.33.1
tomli==2.2.1
absl-py==1.4.0
openai-agents==0.0.7
google-crc32c==1.5.0
pyobjc-framework-CoreAudio==9.2
wasabi==0.10.1
fqdn==1.5.1
rfc3986==2.0.0
pynput==1.7.6
requests==2.32.5
smart-open==6.4.0
pypdf==4.3.1
google-cloud-trace==1.16.1
azure-ai-ml==1.18.0
zope.interface==6.0
fnllm==0.0.10
replicate==1.0.4
ipynbname==2023.2.0.0
tokenizers==0.22.1
msal-extensions==1.2.0
AutoROM.accept-rom-license==0.6.1
pyobjc-framework-AVFoundation==9.2
looseversion==1.3.0
zstandard==0.23.0
medspacy-simstring==2.1
pyobjc-framework-OpenDirectory==9.2
pyobjc-framework-Cocoa==9.2
pydub==0.25.1
nest-asyncio==1.6.0
google-cloud-iam==2.18.0
tensorboard==2.13.0
graphene==3.3
opentelemetry-instrumentation-threading==0.56b0
pyarrow==21.0.0
ipywidgets==8.1.1
tensorboard-data-server==0.7.1
black==23.12.1
ujson==5.10.0
pyobjc-framework-ClassKit==9.2
distlib==0.3.9
urlextract==1.9.0
branca==0.8.1
pyvis==0.3.2
gymnasium==0.29.1
jsonschema-path==0.3.3
more-itertools==10.1.0
pyobjc-framework-Virtualization==9.2
PyMeta3==0.5.1
cfn-tools==0.1.6
asyncio==3.4.3
rank-bm25==0.2.2
azure-common==1.1.28
pip==24.3.1
pandocfilters==1.5.0
diskcache==5.6.3
install==1.3.5
build==1.3.0
python-vlc==3.0.18122
wurlitzer==3.1.1
ptyprocess==0.7.0
poetry-core==1.9.1
sounddevice==0.5.0
keyboard==0.13.5
pydantic==2.11.9
olefile==0.47
shortuuid==1.0.13
rouge==1.0.1
ormsgpack==1.10.0
bs4==0.0.1
octoai-sdk==0.10.1
folium==0.19.5
cerebras_cloud_sdk==1.59.0
ai2-olmo==0.3.0
isoduration==20.11.0
grpc-google-iam-v1==0.14.0
boto3==1.39.15
importlib==1.0.4
pyobjc-framework-DiskArbitration==9.2
spacy-alignments==0.9.1
exceptiongroup==1.1.2
zipp==3.20.2
mkdocs-get-deps==0.2.0
PyMuPDF==1.24.9
contextlib2==21.6.0
jupyterlab-widgets==3.0.9
spotml==0.0.11
mlx==0.18.0
nbconvert==7.12.0
openapi-schema-validator==0.6.2
mlflow-skinny==2.15.1
types-urllib3==1.26.25.14
pdfkit==1.0.0
google-cloud-texttospeech==2.14.1
libclang==16.0.0
tinycss2==1.2.1
langgraph-prebuilt==0.6.0
optuna==4.0.0
llmasajudge==0.1.5
llmasajudge==0.1.11
torch==2.4.1
crashtest==0.4.1
janus==1.0.0
langchain-openai==0.3.33
aniso8601==9.0.1
onnx-tf==1.10.0
pycosat==0.6.4
pyobjc-framework-DataDetection==9.2
toml==0.10.2
etelemetry==0.3.1
ultralytics==8.2.50
langchain-anthropic==0.3.18
pyowm==3.3.0
pyobjc-framework-SearchKit==9.2
mkdocs-material-extensions==1.3.1
markdown2==2.5.1
latex2mathml==3.77.0
ollama==0.4.7
cssselect==1.3.0
typing-inspection==0.4.1
azure-storage-file-datalake==12.16.0
vertexai==1.71.1
pyclipper==1.3.0.post5
Protego==0.5.0
objgraph==3.6.0
firebase-admin==6.2.0
webencodings==0.5.1
zeroconf==0.132.2
requests-futures==1.0.2
hyperscan==0.7.8
google-generativeai==0.8.3
slack_bolt==1.23.0
pyobjc-framework-CalendarStore==9.2
analytics-python==1.2.9
confection==0.1.4
PyQtWebEngine-Qt5==5.15.14
inquirerpy==0.3.4
pyobjc-framework-MetalKit==9.2
bravado==11.0.3
msg-parser==1.2.0
jupyterlab_server==2.25.2
pyobjc-framework-GameCenter==9.2
google-auth-oauthlib==1.0.0
rouge-chinese==1.0.3
attrs==23.1.0
intervaltree==3.1.0
PyQt5==5.15.11
pyobjc-framework-PencilKit==9.2
hf-xet==1.1.5
umap-learn==0.5.7
pydeck==0.9.1
shapely==2.0.1
jupyter-lsp==2.2.1
fastuuid==0.13.5
pyobjc-framework-ReplayKit==9.2
google-cloud-resource-manager==1.14.0
xdg-base-dirs==6.0.2
entrypoints==0.4
astunparse==1.6.3
cycler==0.10.0
pyobjc-framework-CoreBluetooth==9.2
comm==0.2.0
pyobjc-framework-IOBluetoothUI==9.2
fastavro==1.9.7
PyMuPDFb==1.24.9
graspologic-native==1.2.1
PyNaCl==1.5.0
python-json-logger==2.0.7
jupyter_server_terminals==0.4.4
nbformat==5.9.2
ftfy==6.3.1
pyobjc-core==9.2
timeout-decorator==0.5.0
osmnx==2.0.2
pycryptodome==3.21.0
anyio==4.9.0
defusedxml==0.7.1
langchain-cohere==0.1.9
conda-content-trust==0.1.3
datashaper==0.0.49
pyobjc-framework-FinderSync==9.2
pyobjc-framework-libdispatch==9.2
python-magic==0.4.27
everett==3.1.0
wn==0.9.5
medspacy_unqlite==0.9.6
paginate==0.5.7
python-oxmsg==0.0.1
google-pasta==0.2.0
pyobjc-framework-MediaLibrary==9.2
slack_sdk==3.36.0
gradio_client==1.13.3
pyobjc-framework-DeviceCheck==9.2
langchain-core==0.3.76
Werkzeug==3.0.3
roboflow==1.1.2
jiter==0.11.1
openpyxl==3.1.5
configobj==5.0.8
azure-core-tracing-opentelemetry==1.0.0b12
pickleshare==0.7.5
rq==2.1.0
prometheus-client==0.19.0
dnspython==2.7.0
httpx-sse==0.4.0
pyobjc-framework-CoreMIDI==9.2
natsort==8.4.0
gql==3.5.0
azure-search-documents==11.5.2
xattr==1.1.4
firebase-functions==0.1.1
mmengine-lite==0.10.7
emoji==2.12.1
asn1crypto==1.5.1
fastjsonschema==2.19.0
pyobjc-framework-LinkPresentation==9.2
notebook==7.0.6
spacy-legacy==3.0.12
inflection==0.5.1
structlog==24.4.0
aiolimiter==1.2.1
jsonpath-ng==1.7.0
ratelim==0.1.6
virtualenv==20.31.2
beartype==0.18.5
thop==0.1.1-2209072238
blinker==1.9.0
tensorflow-addons==0.21.0
types-PyYAML==6.0.12.12
ruamel.yaml.clib==0.2.12
pylance==0.20.0
huggingface-hub==0.35.3
tensorflow-probability==0.21.0
yapf==0.43.0
qdrant-client==1.13.2
markdown-it-py==3.0.0
parso==0.8.3
pyobjc-framework-WebKit==9.2
azure-storage-file-share==12.17.0
kaitaistruct==0.10
bitsandbytes==0.42.0
pyobjc-framework-libxpc==9.2
flair==0.15.1
pyobjc-framework-Quartz==9.2
mplfinance==0.12.10b0
six==1.16.0
opentelemetry-instrumentation-flask==0.58b0
pathlib==1.0.1
strands-agents-tools==0.2.2
opentelemetry-instrumentation-requests==0.58b0
asyncer==0.0.8
seaborn==0.13.2
PyPDF2==2.12.1
mypy-extensions==1.0.0
Farama-Notifications==0.0.4
PyQt5-Qt5==5.15.14
wandb-workspaces==0.1.13
posthog==3.7.0
h11==0.14.0
urllib3-secure-extra==0.1.0
pyobjc-framework-ImageCaptureCore==9.2
plotly==5.24.1
svgwrite==1.4.3
numba==0.58.1
pyobjc-framework-Metal==9.2
networkx==3.4.2
langgraph-checkpoint==2.1.1
schedule==1.2.2
grpcio==1.67.0
opentelemetry-sdk==1.33.1
pyobjc-framework-AppTrackingTransparency==9.2
protobuf==5.29.5
tldextract==5.1.3
laspy==2.5.4
queuelib==1.8.0
imageio==2.34.2
gdown==5.2.0
pinecone-plugin-interface==0.0.7
onnxruntime==1.22.0
pyobjc-framework-HealthKit==9.2
segtok==1.5.11
detect-secrets==1.5.0
kiwisolver==1.4.4
pyobjc-framework-AppleScriptKit==9.2
types-python-dateutil==2.8.19.14
prov==2.0.1
FinRobot==0.1.5
swagger-spec-validator==3.0.4
torchtune==0.5.0
pyobjc-framework-Network==9.2
bravado-core==6.1.1
langchain-community==0.3.25
pyobjc-framework-CoreMediaIO==9.2
contourpy==1.1.0
python-pptx==1.0.2
weave==0.52.14
jupyter-console==6.6.3
pyobjc-framework-GameController==9.2
pyasn1==0.5.0
ace_tools==0.0
tf-slim==1.1.0
QtPy==2.4.1
kagglehub==0.3.10
filelock==3.12.2
wonderwords==2.2.0
pybboxes==0.1.6
spacy-loggers==1.0.5
gpt4all==0.3.6
joblib==1.4.2
Cartopy==0.24.1
hyperlink==21.0.0
et_xmlfile==2.0.0
yolov5==7.0.12
typing-inspect==0.9.0
google-cloud-secret-manager==2.23.2
langgraph-sdk==0.2.0
pyobjc-framework-SceneKit==9.2
tk==0.1.0
Pygments==2.16.1
ultralytics-thop==2.0.0
graphviz==0.20.3
proglog==0.1.10
sentry-sdk==2.24.1
peft==0.10.0
Unidecode==1.3.8
overrides==7.4.0
pyobjc-framework-GameplayKit==9.2
ghp-import==2.1.0
geocoder==1.38.1
thai-tokenizer==0.2.5
peewee==3.17.7
annotated-types==0.6.0
pyobjc-framework-Collaboration==9.2
customtkinter==5.2.2
httpcore==1.0.2
awsgi==0.0.5
PySocks==1.7.1
nbclient==0.9.0
mistral_common==1.2.1
tree-sitter==0.21.3
pyobjc-framework-FSEvents==9.2
patsy==1.0.1
python-Levenshtein==0.27.1
huggingface==0.0.1
xarray==2025.3.1
murmurhash==1.0.10
paramiko==3.3.1
pyobjc-framework-NetFS==9.2
catalogue==2.0.10
nvdlib==0.7.7
ruamel.yaml==0.18.14
pyobjc-framework-GameKit==9.2
webcolors==1.13
pyobjc-framework-MetalFX==9.2
swagger_ui_bundle==1.1.0
sympy==1.12
iniconfig==2.0.0
rich==13.9.4
jsonpickle==4.0.2
SQLAlchemy==2.0.38
pafy==0.5.5
google-cloud-language==2.17.2
devtools==0.12.2
google-resumable-media==2.7.2
smmap==5.0.0
tqdm==4.67.1
openapi-core==0.19.5
PyFastNER==1.0.10
pyobjc-framework-Photos==9.2
jaraco.context==6.0.1
uritemplate==4.1.1
urllib3==2.3.0
google-auth-httplib2==0.2.0
crewai==0.177.0
future==1.0.0
pyobjc-framework-Vision==9.2
easyocr==1.7.1
narwhals==1.19.1
sacrebleu==2.3.3
GitPython==3.1.38
docx==0.2.4
liteevallogger==0.1.0
querystring-parser==1.2.4
starlette==0.48.0
bert-score==0.3.13
jsonpatch==1.33
youtube-dl==2021.12.17
click==8.1.8
multiurl==0.3.5
DateTime==5.1
sahi==0.11.14
tweetnlp==0.4.5
pkginfo==1.12.1.2
google-cloud-speech==2.32.0
gateloop-transformer==0.2.4
langgraph==0.6.0
unqlite==0.9.7
numpy==1.26.4
pyinstaller==5.13.0
docstring_parser==0.16
mutagen==1.47.0
dash==2.17.1
gensim==4.3.2
fschat==0.2.36
opentelemetry-resourcedetector-gcp==1.9.0a0
opencensus-ext-logging==0.1.1
scikit-learn==1.5.0
mistune==3.0.2
msgpack==1.0.5
openapi-spec-validator==0.7.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.2
phonenumbers==8.13.52
requests-file==2.1.0
tzdata==2023.3
pyobjc-framework-Automator==9.2
pinecone==7.3.0
pyobjc-framework-InstallerPlugins==9.2
markdownify==1.1.0
tomli_w==1.2.0
Flask==2.3.2
pyext==0.7
pulsar-client==3.7.0
lxml==4.9.3
cloudpathlib==0.16.0
safetensors==0.4.3
arxiv==2.1.3
conda_package_streaming==0.7.0
pyright==1.1.394
ml_dtypes==0.5.3
kubernetes==31.0.0
appdirs==1.4.4
lazy-object-proxy==1.10.0
pyobjc-framework-UserNotifications==9.2
jieba==0.42.1
h2==4.2.0
chromadb==1.0.13
ifaddr==0.2.0
connexion==3.1.0
cffi==1.17.1
opentelemetry-instrumentation-urllib3==0.58b0
Mako==1.3.5
jsonschema==4.23.0
cmd2==2.4.3
selenium==4.11.2
addict==2.4.0
google-api-core==2.21.0
qtconsole==5.5.1
llama-index==0.9.34
nemollm==0.3.5
pdfminer.six==20231228
msrest==0.7.1
nibabel==5.2.1
pyobjc-framework-IOSurface==9.2
opentelemetry-exporter-gcp-trace==1.9.0
cachetools==5.3.1
pytest-asyncio==0.21.1
opentelemetry-instrumentation-vertexai==0.40.7
timm==0.9.5
lancedb==0.17.0
pyobjc-framework-ServiceManagement==9.2
pyperclip==1.9.0
stdlib-list==0.11.1
global-chem==1.10.0
gunicorn==22.0.0
propcache==0.2.1
pyobjc-framework-BackgroundAssets==9.2
pyobjc-framework-MetricKit==9.2
pyobjc-framework-IOBluetooth==9.2
google-cloud-logging==3.12.1
async-timeout==4.0.3
azure-ai-agents==1.1.0b3
gpt3-package==0.1
stack-data==0.6.3
reportlab==4.2.5
argon2-cffi==23.1.0
Jinja2==3.1.5
opentelemetry-exporter-otlp==1.31.1
fickling==0.1.4
trl==0.12.0
aioprocessing==2.0.1
a2wsgi==1.10.7
colorlog==6.8.2
nh3==0.2.14
eval_type_backport==0.2.0
distro==1.8.0
asttokens==2.4.1
ipython==8.12.3
jiwer==3.0.3
pyobjc-framework-MediaPlayer==9.2
pyobjc-framework-IntentsUI==9.2
pyobjc-framework-LatentSemanticMapping==9.2
opentelemetry-instrumentation-dbapi==0.58b0
opentelemetry-instrumentation-urllib==0.58b0
box2d-py==2.3.5
pysimstring==1.2.1
dulwich==0.21.7
ouster-sdk==0.3.0
PyJWT==2.10.1
asgiref==3.8.1
threadpoolctl==3.5.0
mkdocs-material==9.6.12
llvmlite==0.41.1
rouge-score==0.1.2
pypdfium2==4.30.0
tifffile==2024.7.24
xlrd==2.0.2
pathspec==0.12.1
oauthlib==3.2.2
ale-py==0.8.1
weasel==0.3.4
pyglet==2.0.14
pyobjc-framework-FileProviderUI==9.2
XlsxWriter==3.2.0
unstructured-client==0.26.1
sentencepiece==0.1.99
Flask-Cors==4.0.0
pyobjc-framework-CoreText==9.2
langextract==1.0.9
conda==23.7.2
sentence-transformers==3.3.1
jsonlines==4.0.0
a2a==0.44
pycparser==2.21
databricks-sdk==0.32.0
constantly==23.10.4
pyobjc-framework-AudioVideoBridging==9.2
Markdown==3.8
langdetect==1.0.9
googlesearch-python==1.2.4
pyaml-env==1.2.1
cached_path==1.6.2
polyfile-weave==0.5.6
frozenlist==1.4.0
pytorch_revgrad==0.2.0
service-identity==24.2.0
simplejson==3.19.2
sse-starlette==2.2.1
opentelemetry-semantic-conventions-ai==0.4.13
pyobjc-framework-EventKit==9.2
google-cloud-billing==1.11.5
opentelemetry-util-http==0.58b0
referencing==0.32.0
opencensus-ext-azure==1.1.13
jedi==0.19.1
google-cloud-core==2.3.2
uv==0.6.1
wrapt==1.15.0
aiofiles==24.1.0
pptree==3.1
strands-agents==1.1.0
prawcore==2.4.0
configparser==7.0.0
pure-eval==0.2.2
pyobjc-framework-ApplicationServices==9.2
python-dotenv==1.0.1
xxhash==3.5.0
pyobjc-framework-CloudKit==9.2
a2a-sdk==0.2.16
mistralai==1.8.2
chroma-hnswlib==0.7.3
quicksectx==0.4.0
pyobjc-framework-ScriptingBridge==9.2
wavedrom==2.0.3.post3
en_core_web_lg==3.8.0
backcall==0.2.0
kiss-icp==0.4.0
auth0-python==4.8.0
mpld3==0.5.11
finnhub-python==2.4.24
awscli==1.29.62
pyobjc-framework-DVDPlayback==9.2
func_timeout==4.3.5
grpcio-tools==1.67.0
jmespath==1.0.1
newsapi-python==0.2.7
wheel==0.38.4
gym-notices==0.0.8
regex==2024.11.6
Shimmy==0.2.1
lz4==4.3.2
stripe==12.2.0
geojson==2.5.0
transformer-smaller-training-vocab==0.4.2
pyobjc-framework-PhotosUI==9.2
botocore==1.39.15
simple-parsing==0.1.7
googleapis-common-protos==1.67.0
av==14.4.0
pyobjc-framework-ModelIO==9.2
watchfiles==0.24.0
graphql-relay==3.2.0
lark-parser==0.7.8
sec-api==1.0.32
pyobjc-framework-SharedWithYouCore==9.2
terminado==0.18.0
cdsapi==0.7.5
twine==6.2.0
pyobjc-framework-UniformTypeIdentifiers==9.2
opentelemetry-instrumentation-psycopg2==0.58b0
importlib-metadata==6.11.0
nodeenv==1.9.1
matplotlib-inline==0.1.6
yfinance==0.2.65
outcome==1.2.0
setuptools==80.9.0
pydantic-settings==2.8.1
pyobjc-framework-PreferencePanes==9.2
redisvl==0.8.0
notebook_shim==0.2.3
google-cloud-storage==2.19.0
pyobjc-framework-ScreenTime==9.2
pathy==0.11.0
openpipe-art==0.4.3
matplotlib==3.10.0
fastapi-cli==0.0.7
base2048==0.1.3
mdurl==0.1.2
zalgolib==0.2.2
pyobjc-framework-AVRouting==9.2
pywifi==1.1.12
blis==1.1.0
pymdown-extensions==10.15
textblob==0.19.0
pyobjc-framework-InstantMessage==9.2
python-dateutil==2.9.0.post0
orjson==3.10.4
opentelemetry-exporter-otlp-proto-common==1.33.1
Authlib==1.5.2
pytubefix==8.12.3
python-iso639==2024.4.27
mpmath==1.3.0
tyro==0.8.3
jupyter_client==8.6.0
pyobjc-framework-IMServicePlugIn==9.2
langchain-text-splitters==0.3.11
jupyterlab_pygments==0.3.0
azure-ai-projects==1.0.0b12
opentelemetry-instrumentation-fastapi==0.58b0
uuid_utils==0.9.0
pyzstd==0.15.9
pyobjc-framework-UserNotificationsUI==9.2
torchvision==0.19.1
pynvml==11.5.0
thinc==8.3.3
weaviate==0.1.0
pytz==2024.2
aiohttp==3.13.1
pyobjc-framework-Security==9.2
pyobjc-framework-OSAKit==9.2
yarl==1.18.3
trio==0.22.1
anthropic==0.60.0
pyobjc-framework-CoreData==9.2
pyobjc-framework-LaunchServices==9.2
curl_cffi==0.13.0
backports.tarfile==1.2.0
preshed==3.0.9
openai==2.6.1
comet-ml==3.44.2
trio-websocket==0.10.3
itemadapter==0.12.0
jsonref==1.1.0
sortedcontainers==2.4.0
geopandas==1.0.1
pybase64==1.4.1
pyobjc-framework-MetalPerformanceShaders==9.2
pyobjc-framework-SystemExtensions==9.2
playwright==1.45.1
pyobjc-framework-SoundAnalysis==9.2
bleach==6.1.0
widgetsnbextension==4.0.9
google-cloud-firestore==2.11.1
gast==0.4.0
imageio-ffmpeg==0.4.8
pythainlp==5.0.4
pyobjc-framework-ExecutionPolicy==9.2
shtab==1.6.4
wandb==0.19.8
tzlocal==5.3.1
colorama==0.4.4
charset-normalizer==3.3.2
pyee==13.0.0
html2text==2025.4.15
google-genai==1.19.0
abnf==2.2.0
tensorboard-plugin-wit==1.8.1
yarg==0.1.9
PyDispatcher==2.0.7
codewatchdog==0.1
pyproj==3.7.1
pyasn1-modules==0.3.0
opencv-python-headless==4.8.0.76
banana-cli==0.0.15
pyzmq==25.1.2
beautifulsoup4==4.12.2
marshmallow==3.20.1
pyobjc-framework-DictionaryServices==9.2
antlr4-python3-runtime==4.9.3
itsdangerous==2.1.2
chardet==5.2.0
python-multipart==0.0.18
nltk==3.8.1
autograd==1.7.0
opencensus-context==0.1.3
langchain==0.3.25
google-ai-generativelanguage==0.6.10
html5lib==1.1
pyobjc-framework-CoreMedia==9.2
websocket-client==1.7.0
backtrader==1.9.78.123
json5==0.10.0
APScheduler==3.11.0
pyobjc-framework-Social==9.2
certifi==2025.1.31
prompt_toolkit==3.0.51
hf_transfer==0.1.9
jupyter==1.0.0
numexpr==2.8.7
deepl==1.17.0
tensorflow-hub==0.15.0
id==1.5.0
ci-info==0.3.0
tenacity==8.5.0
mock==5.1.0
financialmodelingprep==0.0.2
mnist==0.2.2
evaluate==0.4.3
typing_extensions==4.15.0
aiosignal==1.4.0
presidio_analyzer==2.2.356
ipykernel==6.27.1
mypy==1.7.1
pyobjc-framework-CoreML==9.2
srsly==2.4.8
pyobjc-framework-ExtensionKit==9.2
incremental==24.7.2
google-api-python-client==2.167.0
opentelemetry-instrumentation==0.58b0
Brotli==1.1.0
azure-monitor-opentelemetry==1.8.1
packaging==25.0
pyobjc-framework-MailKit==9.2
fsspec==2025.9.0
Scrapy==2.13.3
ecoji==0.1.1
pyobjc-framework-DiscRecording==9.2
semantic-kernel==1.34.0
feedparser==6.0.11
langsmith==0.3.45
pyobjc-framework-ContactsUI==9.2
docopt==0.6.2
cohere==5.13.12
azure-ai-inference==1.0.0b5
pyOpenSSL==25.0.0
tensorboardX==2.6.2.2
msal==1.30.0
anytree==2.12.1
yt-dlp==2025.11.12
jupyterlab==4.0.9
pyobjc-framework-ScreenSaver==9.2
Flask-SQLAlchemy==3.1.1
embedchain==0.1.122
pyobjc-framework-SecurityInterface==9.2
proto-plus==1.26.0
pydash==8.0.3
dash-table==5.0.0
sqlitedict==2.1.0
macholib==1.16.2
multiprocess==0.70.15
aioice==0.10.1
rdflib==6.3.2
pyobjc-framework-ThreadNetwork==9.2
idna==3.7
POT==0.9.5
jaraco.functools==4.1.0
opencensus==0.11.4
pyobjc-framework-FileProvider==9.2
rdkit==2024.3.5
voyageai==0.3.4
pycryptodomex==3.20.0
opencv-python==4.11.0.86
pyobjc-framework-StoreKit==9.2
hyppo==0.4.0
rotary-embedding-torch==0.5.3
texify==0.1.10
pluggy==1.5.0
cymem==2.0.8
portalocker==2.7.0
psutil==5.9.5
ragas==0.2.15
alembic==1.13.2
pyobjc-framework-MLCompute==9.2
fastapi-sso==0.16.0
google-events==0.9.0
pyobjc-framework-VideoSubscriberAccount==9.2
pyobjc-framework-NaturalLanguage==9.2
dill==0.3.8
opentelemetry-semantic-conventions==0.54b1
pybars4==0.9.13
geopy==2.4.1
schema==0.7.5
tiktoken==0.7.0
fixedint==0.1.6
google-auth==2.38.0
typeguard==4.1.5
scapy==2.5.0
opentelemetry-resource-detector-azure==0.1.5
rsa==4.7.2
statsmodels==0.14.4
trove-classifiers==2025.5.9.12
pyinstaller-hooks-contrib==2023.6
graphrag==1.0.0
pyobjc-framework-AppleScriptObjC==9.2
pyobjc-framework-Intents==9.2
pdfplumber==0.11.4
langchain-google-genai==1.0.6
dm-tree==0.1.8
scikit-image==0.24.0
itemloaders==1.3.2
tomlkit==0.12.3
pyobjc-framework-CoreMotion==9.2
deprecation==2.1.0
pfzy==0.3.4
Automat==25.4.16
cloudpickle==3.1.1
firebase==4.0.1
pyobjc-framework-MediaAccessibility==9.2
importlib_resources==6.4.0
lorem==0.1.1
jsonpath-python==1.0.6
greenlet==3.0.3
pyobjc-framework-SecurityFoundation==9.2
supervision==0.13.0
pyobjc-framework-SafetyKit==9.2
pyobjc-framework-AdServices==9.2
setproctitle==1.3.2
PyQtWebEngine==5.15.7
pillow==10.4.0
opt-einsum==3.3.0
docker-pycreds==0.4.0
azure-storage-blob==12.24.0
poetry==1.8.5
ai4p==1.0
ag2==0.9.9
python-docx==1.2.0
pyobjc-framework-CoreSpotlight==9.2
rfc3986-validator==0.1.1
eccodes==2.41.0
datasets==4.2.0
pyobjc-framework-SharedWithYou==9.2
pyobjc-framework-DiscRecordingUI==9.2
opentelemetry-instrumentation-wsgi==0.58b0
tensorflow-estimator==2.13.0rc0
aiohappyeyeballs==2.6.1
fuzzywuzzy==0.18.0
nipype==1.8.6
keyring==24.3.1
dash-core-components==2.0.0
prettytable==3.11.0
fire==0.5.0
brotlipy==0.7.0
pyobjc==9.2
jupyter_core==5.5.0
websockets==15.0.1
pyobjc-framework-ExternalAccessory==9.2
google-cloud-dialogflow-cx==1.39.0
mcp==1.13.1
jsonpointer==2.1
requests-toolbelt==1.0.0
einops==0.7.0
transformers==4.57.1
mem0ai==0.1.52
docker==7.1.0
httptools==0.6.4
ninja==1.11.1.1
pandas==1.5.3
pyobjc-framework-AddressBook==9.2
ConfigArgParse==1.7
platformdirs==3.11.0
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
Cython==3.0.11
py-cpuinfo==9.0.0
findlibs==0.1.1
simpleaudio==1.0.4
crewai-tools==0.37.0
medspacy==0.2.0.0
pyobjc-framework-LocalAuthentication==9.2
darkdetect==0.8.0
installer==0.7.0
PyYAML==6.0.2
httpx==0.28.1
pyobjc-framework-MapKit==9.2
Wikipedia-API==0.8.1
magicattr==0.1.6
pipreqs==0.5.0
azure-monitor-opentelemetry-exporter==1.0.0b42
cfn-flip==1.3.0
sniffio==1.3.0
avidtools==0.1.2
pyobjc-framework-InputMethodKit==9.2
pynndescent==0.5.11
keras==2.13.1rc0
fairscale==0.4.13
jupyter-events==0.9.0
azure-core==1.32.0
ratelimit==2.2.1
litellm==1.79.1
ply==3.11
RapidFuzz==3.14.1
pyobjc-framework-CoreHaptics==9.2
pyobjc-framework-SystemConfiguration==9.2
onnx==1.14.0
sqlparse==0.5.3
geographiclib==2.0
python-bidi==0.6.0
email_validator==2.2.0
uritools==5.0.0
monotonic==1.6
OpenCC==1.1.9
soupsieve==2.4.1
pyobjc-framework-NetworkExtension==9.2
Babel==2.13.1
ml_collections==1.1.0
backoff==2.2.1
wcwidth==0.2.12
pyobjc-framework-QuickLookThumbnailing==9.2
pyobjc-framework-MultipeerConnectivity==9.2
cloudevents==1.9.0
pytube==15.0.0
pdf2image==1.17.0
Deprecated==1.2.14
vastai==0.1.7
python-ulid==3.0.0
pyobjc-framework-CFNetwork==9.2
pyserial==3.5
hpack==4.1.0
sgmllib3k==1.0.0
diff_agent==0.1.3
BLEURT==0.0.2
graphql-core==3.2.3
blobfile==2.1.1
snowflake-connector-python==3.6.0
webdriver-manager==4.0.2
garak==0.10.0
jupyter_server==2.12.1
traitlets==5.14.0
Twisted==25.5.0
filetype==1.2.0
pinecone-plugin-assistant==1.8.0
toolz==0.12.0
pyobjc-framework-CallKit==9.2
dataclasses-json==0.6.3
google-cloud-appengine-logging==1.6.2
plyfile==1.1
aws-requests-auth==0.4.3
environs==11.2.1
rpds-py==0.13.2
medspacy-quickumls==2.7
scipy==1.15.3
weaviate-client==4.9.0
pyobjc-framework-SpriteKit==9.2
cpm-kernels==1.0.11
s3transfer==0.13.1
llm2vec==0.1.6
traits==6.3.2
terminaltables==3.1.10
debugpy==1.8.0
pyproject_hooks==1.2.0
commentjson==0.9.0
typer==0.15.2
pyobjc-framework-BusinessChat==9.2
stdlibs==2024.10.25
open3d==0.18.0
catboost==1.2.8
google-cloud-compute==1.14.1
altair==5.5.0
watchdog==6.0.0
PyQt5_sip==12.15.0
conda-package-handling==2.0.2
pathtools==0.1.2
pyobjc-framework-Speech==9.2
speedtest-cli==2.1.3
google-adk==1.4.1
polars==0.20.13
mlflow==2.15.1
pytube3==9.6.4
jaraco.classes==3.3.0
uvicorn==0.34.3
uvloop==0.21.0
hydra-core==1.3.2
pydot==3.0.1
presidio_anonymizer==2.2.356
pathable==0.4.3
instructor==1.3.3
griffe==1.6.3
en-core-med7-trf==3.4.2.1
termcolor==2.3.0
fastapi==0.115.13
graspologic==3.4.1
frozendict==2.4.6
gym==0.26.2
pyobjc-framework-NotificationCenter==9.2
poetry-plugin-export==1.8.0
pyobjc-framework-SyncServices==9.2
neptune==1.10.4
httplib2==0.22.0
MarkupSafe==2.1.3
pyxnat==1.6.2
wsproto==1.2.0
pyobjc-framework-AutomaticAssessmentConfiguration==9.2
google-cloud-discoveryengine==0.13.3
pyobjc-framework-PushKit==9.2
ray==2.45.0
pyobjc-framework-ShazamKit==9.2
google-cloud-audit-log==0.3.2
pyobjc-framework-Accounts==9.2
readme-renderer==42.0
mmh3==5.0.1
AutoROM==0.4.2
pyquaternion==0.9.9
pyobjc-framework-CoreWLAN==9.2
pyobjc-framework-MetalPerformanceShadersGraph==9.2
streamlit==1.41.1
accelerate==1.7.0
pyobjc-framework-iTunesLibrary==9.2
pylibsrtp==0.12.0
grpcio-health-checking==1.67.0
omegaconf==2.3.0
Levenshtein==0.27.1
functions-framework==3.4.0
PyPika==0.48.9
gptcache==0.1.44
pysbd==0.3.4
pyparsing==3.0.9
pyobjc-framework-KernelManagement==9.2
isodate==0.6.1
PyRuSH==1.0.9
tensorflow-macos==2.13.0rc1
spacy-universal-sentence-encoder==0.4.6
marker-pdf==0.2.13
pyogrio==0.10.0
opentelemetry-exporter-otlp-proto-http==1.33.1
pyarrow-hotfix==0.6
fonttools==4.40.0
pbs-installer==2025.6.12
swig==4.3.1
google-cloud-bigquery==3.14.1
opentelemetry-instrumentation-asgi==0.58b0
hyperframe==6.1.0
boltons==23.0.0
pyobjc-framework-CryptoTokenKit==9.2
pyobjc-framework-AVKit==9.2
jsonschema-specifications==2023.11.2
fitz==0.0.1.dev2
executing==2.0.1
types-requests==2.31.0.6
flatbuffers==23.5.26
pyobjc-framework-AuthenticationServices==9.2
pytesseract==0.3.10
playwright-stealth==1.0.6
pyshp==2.3.1
pyobjc-framework-VideoToolbox==9.2
durationpy==0.9
validators==0.34.0
pdftext==0.3.20
pyobjc-framework-PassKit==9.2
chevron==0.14.0
pypandoc==1.15
tensorflow==2.13.0rc1
pyobjc-framework-CoreAudioKit==9.2
backrefs==5.8
wget==3.2
grpcio-status==1.56.0
parsel==1.10.0
docutils==0.16
azure-identity==1.19.0
tabulate==0.9.0
requests-oauthlib==1.3.1
PyGithub==1.59.1
retrying==1.3.4
pyobjc-framework-ScreenCaptureKit==9.2
pyobjc-framework-Contacts==9.2
cleo==2.1.0
tornado==6.4
opentelemetry-exporter-otlp-proto-grpc==1.37.0
langcodes==3.3.0
dspy==2.5.14
conllu==4.5.3
pyobjc-framework-OSLog==9.2
immutabledict==4.2.2
parse==1.20.2
azure-mgmt-core==1.4.0
pyobjc-framework-SafariServices==9.2
google-cloud-aiplatform==1.97.0
dash-html-components==2.0.0
python-box==6.1.0
iTransformer==0.5.5
laughingface==0.1.4
